@import "../styles/variables";

main {
  margin: 10px 0 60px 0;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media only screen and (min-width: 1440px) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: start;
    gap: 40px;
  }
}
